{% extends "base.html" %}

{% block title %}Séance {{ session_id }} - {{ user.name }}{% endblock %}

{% block content %}
    <h1 class="mt-5">Séance {{ session_id }} pour {{ user.name }}</h1>
    <ul class="list-group">
        {% for exercise in exercises %}
            <li class="list-group-item">
                <h5>{{ exercise.name }}</h5>
                <p>{{ exercise.description }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('track_performance', session_id=session_id, user_id=user.id) }}" class="btn btn-success mt-3">Enregistrer les performances de {{ user.name }}</a>
    <br>
    <a href="{{ url_for('user_sessions', user_id=user.id) }}" class="btn btn-secondary mt-2">Retour aux séances</a>
{% endblock %}
