{% extends "base.html" %}

{% block title %}Suivi des Performances - Séance {{ session_id }} - {{ user.name }}{% endblock %}

{% block content %}
    <h1 class="mt-5">Enregistrer les performances pour la Séance {{ session_id }} de {{ user.name }}</h1>
    <form method="POST">
        {% for exercise in exercises %}
            <div class="form-group">
                <label for="{{ exercise.name }}">{{ exercise.name }} :</label>
                <p>{{ exercise.description }}</p>
                <input type="text" name="{{ exercise.name }}" id="{{ exercise.name }}" class="form-control" required>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    <br>
    <a href="{{ url_for('session', session_id=session_id, user_id=user.id) }}" class="btn btn-secondary mt-2">Retour à la séance</a>
{% endblock %}
